#back-to-top-btn {
    display: none; /* Ẩn nút ban đầu */
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #f1b3b3;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
}
