.footer {
    background-color: #949393;
    text-align: center;
    padding: 10px 0px 0px 0px;
    border-top: 1px solid rgb(212, 209, 209);
}
  
.footer-content {
    max-width: 960px;
}
  
.footer-logo {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    padding-left: 30px;
}
  
.footer-logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
  
.footer-logo h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}
  
.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.footer-links li {
    display: inline-block;
    margin-right: 10px;
}
  
.footer-links a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
}
  
.footer-social a {
    color: #333;
    text-decoration: none;
    margin-right: 10px;
}
  
.footer-social i {
    font-size: 18px;
}
  
.footer-bottom {
    margin-top: 20px;
    padding: 10px 0px 20px 0px;
}