@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.home {
    padding-top: 60px;
    & .home__slides {
        width: 100%;
        font-size: 60px;
        font-family: Lobster, sans-serif;
        color: white;
        height: 45rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../../../assets/imgs/place1.png");
        margin-bottom: 30px;
        // background-repeat: no-repeat; /* Ngăn ảnh lặp lại */
        background-size: cover;
    }
    // CSS cho searchbar

    & .home__slides--searchbar {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        border-radius: 25px;
        padding: 5px;
        & > input {
            position: absolute;
            top: 0;
            left: 0;
            width: 85%;
            height: 42.5px;
            line-height: 30px;
            outline: 0;
            border: 1px solid black;
            font-size: 1em;
            border-radius: 20px;
            padding: 0 20px;
            &:focus {
                border: 2px solid rgb(2, 179, 238);
            }
        }
        & .search-icon {
            background-color: rgb(2, 179, 238);
            color: white;
            box-sizing: border-box;
            padding: 10px;
            width: 42.5px;
            height: 42.5px;
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 50%;
            text-align: center;
            font-size: 1.2em;
            cursor: pointer;
            transition: transform 0.3s ease-in-out;
            &:hover {
                opacity: 0.8;
                transform: scale(1.1);
                will-change: transform;
            }
        }
    }
    .search-btn {
        background-color: rgb(2, 179, 238);
        width: 100%;
    }
    // CSS cho options
    & .home__options {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-bottom: 20px;
        & h1 {
            color: #000000;
            font-size: 26px;
            font-weight: 700;
            line-height: 1.5em;
            text-align: center;
            border-bottom: 1px solid rgb(188, 186, 186);
            width: 100%;
        }
    }
    & .type-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    & .home-btn {
        border: 1px solid rgb(0, 0, 0);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 0px 5px 0px 5px;
        padding: 10px;
        width: 80px;
        height: 4rem;
        border-radius: 5px;
        text-align: center;
        font-weight: 600;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: box-shadow, transform;
        transition-property: box-shadow, transform;
        &:hover {
            cursor: pointer;
            background-color: rgb(2, 179, 238);
            color: rgb(255, 255, 255);
            transform: scale(1.05);
        }
    }
    & .home__options--selected {
        cursor: pointer;
        background-color: rgb(2, 179, 238);
        color: rgb(255, 255, 255);
        transform: scale(1.05);
    }
    & .home__results {
        padding: 30px 0px 50px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        & > div {
            // display: flex;
            // flex-direction: row;
            // justify-content: flex-start;
            width: 100%;
            display: grid;
            height: 34rem;
            // margin-bottom: 20px;
            grid-template-columns: repeat(2, 1fr); /* Tạo 4 cột có kích thước bằng nhau */
            grid-gap: 10px;
            // & > div {
            //     // width: 100%;
            // }
        }
        & .home__results--pagination {
            display: flex;
            justify-content: center;
            padding-top: 20px;
            padding-bottom: 20px;
            height: 5rem;
        }
    }
}

.places-wrapper {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

.home__options {
    width: 40%;
    margin-right: 20px;
    padding: 50px;
}
.home__results {
    width: 60% !important;
}

.home-filter {
    padding: 10px !important;
}
