/* CSS for CreateAlbum component */
.createalbum {
    padding-top: 0px;
    padding-bottom: 100px;
    & > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
    }
    & .createalbum-address {
        justify-content: flex-start;
        padding-bottom: 50px;
    }
    & .createalbum-location {
        color: blue;
        font-weight: 400;
        cursor: pointer;
    }
    & .createalbum__left {
        width: 100%;
        & .form-container {
            margin-bottom: 20px;
            & #filled-size-normal {
                padding: 20px;
            }
        }

        & .form-container h3 {
            margin-top: 0;
        }

        & .form-container > div {
            display: grid;
            padding-bottom: 20px;
            gap: 10px;
        }

        & .form-container label {
            display: grid;
            gap: 5px;
        }

        & .form-container input,
        & .form-container textarea {
            width: 100%;
            padding: 5px;
        }
    }
    & .createalbum__right {
        padding-top: 160px;
        padding-left: 20px;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    & button {
        background-color: #007bff;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        &:hover {
            background-color: #0056b3;
            scale: 1.005;
        }
    }
}
.places-list {
    margin-bottom: 20px;
}

.places-list ul {
    list-style-type: none;
    padding: 0;
}

.places-list div {
    cursor: pointer;
    padding: 20px;
    margin-bottom: 5px;
    background-color: #f2f2f2;
}

.places-list div:hover {
    background-color: #e6e6e6;
}
.selected-places {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected-places div {
    list-style-type: none;
    padding: 0;
}

.selected-places div {
    margin-bottom: 5px;
}
.place-button {
    margin-left: 10px;
}

.trip-button {
    margin-left: 10px;
    margin-right: 10px;
}

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.createalbum-slide {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    height: 18rem;
    width: 100%;
    background-image: url("../../../assets/imgs/banner4.jpg");
    background-size: cover;
    text-align: center;
    justify-content: center;
    font-size: 60px;
    font-family: Lobster, sans-serif;
    color: white;
    margin-bottom: 20px;
}
