.home {
    padding-top: 60px;
    & .home__slides {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../../assets/imgs/slider_banner_1.png');
        margin-bottom: 30px;
    }
     // CSS cho searchbar

    & .home__slides--searchbar {
        position: relative;
        width: 30%;
        height: 50px;
        background-color: white;
        box-sizing: border-box;
        border-radius: 25px;
        border: 4px solid white;
        padding: 5px;
        & > input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 42.5px;
            line-height: 30px;
            outline: 0;
            border: 1px solid black;
            font-size: 1em;
            border-radius: 20px;
            padding: 0 20px;
        }
        & .search-icon {
            border: 2px solid #8d0505;
            background-color: #8d0505;
            color: white;
            box-sizing: border-box;
            padding: 10px;
            width: 42.5px;
            height: 42.5px;
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 50%;
            text-align: center;
            font-size: 1.2em;
            cursor: pointer;
        }
    }
    // CSS cho options
    & .home__options {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
    }
    & .home__options div {
        border: 1px solid rgb(0, 0, 0);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 0px 5px 0px 5px;
        padding: 10px;
        width: 12%;
        border-radius: 5px;
        text-align: center;
        font-weight: 600;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: box-shadow, transform;
        transition-property: box-shadow, transform;
        &:hover {
            cursor: pointer;
            background-color: rgb(139, 4, 4);
            color: rgb(255, 255, 255);
            -webkit-transform: scale(1.05);
        }
    }
        & .home__results {
            padding: 30px 0px 50px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            &>div {
                display: flex;
                flex-direction: row;
                width: 100%;
                &>div {
                    width: 33%;
                }
            }
            & .home__results--pagination {
                display: flex;
                justify-content: center;
                padding-top: 20px;
            }
        }
}