.user-page {
    padding-top: 20px;
    background: rgb(255, 255, 255);
    height: 50rem;
    width: 100%;
}
.user {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 90px;
    border-radius: 15px;
    display: grid;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    grid-template-areas:
        "c1 c1 c1 c1"
        "tt tt tt tt"
        "item1 item2 item2 item2"
        "item1 item2 item2 item2";
}
.user__field1,
.user__filed1 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.user__avatarchange {
    margin-bottom: 10px;
}
.user__avatar {
    margin-bottom: 10px;
}
.user__field2 form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 96%;
}
.user__field1 {
    grid-area: item1;
}
.user__field2 {
    grid-area: item2;
}
.user__title {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    grid-area: tt;
}

.user-location {
    padding-bottom: 30px;
}
