.trips {
    display: flex;
    flex-direction: row;
}
.trips-col1 {
    width: 30%;
    margin-right: 50px;
    & h1 {
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(192, 192, 192);
    }
}
.trips-col2 {
    padding: 30px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    & > div {
        // display: flex;
        // flex-direction: row;
        // justify-content: flex-start;
        // width: 100%;
        padding: 30px 0px 30px 0px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Tạo 4 cột có kích thước bằng nhau */
        grid-gap: 10px;
        & > div {
            width: 90%;
            &:hover {
                scale: 1.005;
                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
            }
        }
    }
    & .trips__results--pagination {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
}

.trips-filter {
    margin: 10px 0px 10px 0px !important;
}
.trip-form {
    padding: 20px;
}
.tripinfor-form {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tripinfor-input {
    width: 100%;
}
.trips-location-wrapper {
    padding-bottom: 30px;
}
.trips-location {
    color: blue;
    font-weight: 400;
    cursor: pointer;
}
