@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine&display=swap");
.header {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: ProximaNovaCond-Regular, sans-serif;
    background-color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 5;
    & > div {
        display: flex;
        flex-direction: row;
        padding: 0;
    }
    & .header__col1 {
        width: 10%;
        font-size: 18px;
        font-weight: 500;
        color: rgb(0, 0, 0);
        display: flex;
        flex-direction: row;
        align-items: center;
        & a {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-family: Lobster, sans-serif;
        }
        & img {
            object-fit: contain;
            width: 100%;
            height: 100%;
            max-height: 60px;
        }
    }
    & .header__col2 {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    & .header__ele {
        margin-right: 20px;
        padding: 10px 15px 10px 15px;
        font-size: 18px;
        font-weight: 200;
        cursor: pointer;
        color: rgb(0, 0, 0);
    }
    & .header__link {
        text-decoration: none;
        color: black;
        font-family: Domine, sans-serif;
    }
    & .header__link--selected {
        color: #d01c2ee4;
        text-decoration: none;
        font-family: Domine, sans-serif;
    }
    & .header__ele--connected {
        padding: 0;
        padding-left: 20px;
        width: 20px;
        height: 20px;
        padding-right: 20px;
        font-family: Domine, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    & .header__ele--login {
        width: 20px;
        height: 20px;
        padding-right: 60px;
        font-family: Domine, sans-serif;
    }
}
.header__avatar {
}
