.reviewchart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.reviewchart__column1 {
    width: 10%;
    & .reviewchart__total {
        font-size: 32px;
        font-weight: 500;
    }
    & > div {
        display: flex;
        justify-content: center;
    }
}

.reviewchart__column2 {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviewchart__row {
    display: flex;
    flex-direction: row;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    width: 80%;
    & .reviewchart__row--1 {
        display: flex;
        justify-content: center;
        position: relative;
        top: -10px;
        width: 2%;
        font-weight: 500;
    }
    & .reviewchart__row--2 {
        width: 98%;
    }
}
